<div class="sidebar">
  <button class="mobile-close-btn" id="mobileCloseBtn">
    <i class="fa-solid fa-xmark"></i>
  </button>
  <div class="logo-section">
    <div class="toggle-btn" id="toggleSidebar">
      <span id="toggleIcon">&lt;</span>
    </div>
    <img src="/images/logo1.svg" class="logo" />
    <img src="/images/logo3.jfif" class="logo-small" />
  </div>

  <ul class="menu">
    <li id="securityTab">
      <a href="/html/security.html">
        <i class="fa-solid fa-shield-halved"></i>
        <span>Security</span>
      </a>
    </li>

    <li id="controlTab">
      <a href="/html/control.html">
        <i class="fa-solid fa-gear"></i>
        <span>Control</span>
      </a>
    </li>

    <!-- <li id="deviceTab">
      <a href="/html/device.html">
        <i class="fa-solid fa-microchip"></i>
        <span>Device Info</span>
      </a>
    </li> -->
  </ul>

  <div class="sidebar-footer">
    <button class="logout-btn">
      <i class="fa-solid fa-right-from-bracket"></i>
      <span>Logout</span>
    </button>
  </div>
</div>
<div class="sidebar-overlay" id="sidebarOverlay"></div>
