<div class="topbar">
  <button class="mobile-menu-btn" id="mobileMenuBtn">
    <i class="fa-solid fa-bars"></i>
  </button>
  <span class="title">IPC Dashboard</span>

  <div class="top-right">
    <div class="profile" id="profileMenu">
      <div class="timezone-display">
        <span class="timezone-label">Timezone :</span>
        <small id="userTimezoneText"></small>
      </div>
      <div class="profile-info">
        <span id="userName"></span>
        <small id="userRole"></small>
      </div>

      <div class="avatar">
        <i class="fa-solid fa-user"></i>
      </div>

      <div class="profile-dropdown" id="profileDropdown">
        <div class="dropdown-item" onclick="openTimezoneModal()">
          <i class="fa-solid fa-clock"></i>
          Update Timezone
        </div>

        <div class="dropdown-item logout">
          <i class="fa-solid fa-right-from-bracket"></i>
          Logout
        </div>
      </div>
    </div>
  </div>
</div>
